@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333638;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(../images/navImage.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    padding: 70px;
}

.breadIcon {
    width: 100px;
    height: auto;
}

.header h1 {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 65px;
    font-weight: lighter;
}

.grid {
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    align-items: center;
}

.grid > article {
    background: #fff;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 400px;
    transition: transform .3s;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
}

.grid > article:hover {
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 400px;
}

.text {
    padding: 0px 20px 20px;
}

.text button {
    background: #333638;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
}

.text button:hover {
    transform: translateY(2px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

.text h3 {
    font-size: 25px;
    padding-top: 20px;
}

.text p {
    font-size: 20px;
}

.container {
    margin-left: 15px;
}

a {
    text-decoration: none;
}

